apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app-blue
  namespace: dev
  labels:
    app: my-app
    version: blue
spec:
  replicas: 3
  selector:
    matchLabels:
      app: my-app
      version: blue
  template:
    metadata:
      labels:
        app: my-app
        version: blue
    spec:
      containers:
      - name: http-echo
        # tiny image that echoes a text on HTTP GET
        image: hashicorp/http-echo:0.2.3
        args: ["-text=blue-v1", "-listen=:80"]
        ports:
        - containerPort: 80
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 2
          periodSeconds: 3
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 10