# 03-service-nodeport.yaml
apiVersion: v1
kind: Service
metadata:
  name: my-app-svc
  namespace: dev
spec:
  type: NodePort
  selector:
    app: my-app
    version: blue            # <-- start with blue receiving traffic
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    nodePort: 30080         # choose a NodePort in range (30000-32767)