apiVersion: v1
kind: Service
metadata:
  name: my-app-service
  namespace: dev
spec:
  type: NodePort
  selector:
    app: my-app
  ports:
  - protocol: TCP
    port: 80         # Port that the service will listen on
    targetPort: 80   # Port on the container
    nodePort: 30007  # External port on each node (must be in the range 30000-32767)